.recipe-list-section > h1 {
    text-align: center;
}
  
.recipe-list-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    animation: fadeIn 0.75s ease-out forwards;
    gap: 2rem;
}
  
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}